<div>
  <form action="/item/add" method="post">
    <div class="form-group row">
      <label for="" class="col-2">商品コード</label>
      <input type="text" name="code" class="form-control col-10">
    </div>
    <div class="form-group row">
      <label for="" class="col-2">商品名</label>
      <input type="text" name="name" class="form-control col-10">
    </div>
    <div class="form-group row">
      <label for="" class="col-2">価格</label>
      <input type="text" name="price" class="form-control col-10">
    </div>
    <button type="submit" class="btn btn-primary">更新</button>
    <a href="/item" class="btn btn-outline-primary">戻る</a>
  </form>
</div>